#hd{
	margin-top: 20px;
}

.sections{
	padding: 20px 0px; 
}

.home{
	height: 550px; 
	background-image: url(../img/home.jpg);
	background-size: cover; 
	background-position: center;
}

.home .home-content{
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
}

.home .home-desc{
	color: white;
	font-size: 20px;
}

.home .home-title{
	color: white;
	font-size: 40px;
}


.follow{
	text-align: center;
}